name: engc

on:
  schedule:
    - cron: "*/5 * * * *"  # Runs every 5 minutes
  workflow_dispatch:

jobs:
  update-playlist:
    runs-on: ubuntu-latest

    env:
      S_URL: ${{ secrets.S_URL }}
      KEY_S: ${{ secrets.KEY_S }}
      ENG_IG: ${{ secrets.ENG_IG }}
      U_FN: ${{ secrets.U_FN }}

    steps:
      - name: Checkout this repository
        uses: actions/checkout@v3
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install aiohttp beautifulsoup4

      - name: Unzip protected Python script
        env:
          ZIP_PASS: ${{ secrets.PASSSIP }}
        run: unzip -o -P "$ZIP_PASS" rissp.zip

      - name: Run Python encryption script
        run: python rissp.py

      - name: Delete script after running
        if: always()
        run: rm -f rissp.py

      - name: Clone Target Private Repository
        run: |
          git clone https://x-access-token:${{ secrets.TARGET_TOKEN2XMRC }}@${{ secrets.TARGET_URLXMRC }} ${{ secrets.TARGET_NAMEXMRC }}

      - name: Copy Playlist Files to Target Repo
        run: |
          cp *.m3u ${{ secrets.TARGET_NAMEXMRC }}/ || true

      - name: Commit & push to target repository
        run: |
          cd ${{ secrets.TARGET_NAMEXMRSP }}
          git config user.name "${{ secrets.TARGET_REPO_USER }}"
          git config user.email "${{ secrets.TARGET_REPO_USER }}@users.noreply.github.com"
          git add .
          git commit -m "Auto update encrypted playlist on $(date '+%Y-%m-%d %H:%M:%S')" || echo "No changes to commit"
          git push
